@use '../../../scss/mediaqueries';

.nav {
    &__list {
        margin: 0;
        padding: 0;
        display: flex;
        width: 100%;
        background-color: var(--clr-dark-grey);
        gap: 1px;
        border-bottom: 1px solid var(--clr-dark-grey);
        @include mediaqueries.bp-700 {
            width: auto;
            justify-content: flex-start;
            background-color: transparent;
            padding: 0 1rem;
            border-bottom: 0;
            margin-bottom: 3rem;
        }
    }
    &__item {
        list-style: none;
        flex-grow: 1;
        @include mediaqueries.bp-700 {
            flex-grow: 0;
        }
    }
}