.button {
    border: 0;
    font-weight: 700;
    font-size: 1rem;
    color: var(--clr-black);
    padding: 0.5rem 1.6rem;
    border-radius: 1.5625rem;
    border-top: 1px solid var(--clr-shine);
    border-bottom: 1px solid var(--clr-shadow);
    display: inline-block;
    line-height: 1.5rem;
    text-decoration: none;
    background-color: var(--page-color);
    transition: background-color .3s ease;
    cursor: pointer;
    &:hover {
        background-color: var(--page-color-secondary);
    }
    &--large {
        font-size: 1.2rem;
        padding: 0.7rem 2rem;
    }
    &--alt {
        border: 2px solid var(--clr-white);
        color: var(--clr-white);
        background-color: transparent;
        transition: border 0.3s ease, color 0.3s ease;
        &:hover {
            background-color: transparent;
            border: 2px solid var(--page-color);
            color: var(--page-color);
        }
    }
    &--red {
        background-color: var(--clr-red);
        color: var(--clr-white);
        &:hover {
            background-color: var(--clr-red-secondary);
        }
    }
}