.timer {
    width: 280px;
    height: 280px;
    position: relative;
    margin: 0 auto 1rem auto;
    &__svg {
        position: absolute;
    }
    &__circle {
        fill: transparent;
        stroke: var(--timer-color);
        stroke-dasharray: 829.38 829.38;
        stroke-dashoffset: 829.38;
        transform: rotate(-90deg);
        transform-origin: 50% 50%;
    }
    &__circleBack {
        fill: var(--clr-light-black);
        stroke: var(--clr-black);
    }
    &__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        position: relative;
    }
    &__time {
        font-size: 4.5rem;
        font-weight: 200;
        font-variant-numeric: tabular-nums;
        line-height: 6.5rem;
    }
    &__timeLabel {
        font-size: 1.25rem;
        color: var(--timer-color);
        font-weight: 400;
    }
}