@use '../../../scss/mediaqueries';

.modal {
    display: block;
    width: 80%;
    padding: 1rem;
    background-color: var(--clr-light-black);
    border: 1px solid var(--clr-dark-grey);
    border-radius: 0.2rem;
    position: relative;
    @include mediaqueries.bp-700 {
      max-width: 37.5rem;
      padding: 1.5rem;
    }
    &__overlay {
        display: flex;
        background-color: var(--clr-black-faded);
        position: fixed;
        z-index: 20;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        justify-content: center;
        align-items: center;
    }
    &__close {
        background-color: var(--clr-dark-grey);
        border: 0;
        border-radius: 0.2rem;
        width: 2rem;
        height: 2rem;
        position: absolute;
        right: -1rem;
        top: -1rem;
        padding: 0.5rem;
    }
    &__title {
        font-size: 1.25rem;
        text-align: center;
        margin-bottom: 1rem;
        font-weight: 400;
    }
}

.fadeModalOn {
    animation-duration: 300ms;
    animation-name: fadeModalOn;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeModalOn {
    0% {
      opacity: 0;
    }
  
    100% {
      opacity: 1;
    }
}

.fadeModalOff {
    animation-duration: 300ms;
    animation-name: fadeModalOff;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes fadeModalOff {
    0% {
      opacity: 1;
    }
  
    100% {
      opacity: 0;
    }
}