.bgRed {
    background-color: var(--clr-red);
}
.bgGreen {
    background-color: var(--clr-green);
}
.bgBlue {
    background-color: var(--clr-blue);
}
.bgOrange {
    background-color: var(--clr-orange);
}
.clrRed {
    color: var(--clr-red);
}
.clrGreen {
    color: var(--clr-green);
}
.clrBlue {
    color: var(--clr-blue);
}
.clrOrange {
    color: var(--clr-orange);
}
