.intervalItem {
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        align-items: flex-end;
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 200;
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    &__lastUsed {
        color: var(--clr-grey);
        font-size: 0.875rem;
        font-weight: 200;
        line-height: 1.5rem;
    }
}