@use '../../../scss/mediaqueries';

.intervalItem {
    color: var(--clr-white);
    text-decoration: none;
    padding: 1.7rem 1.5rem;
    display: block;
    @include mediaqueries.bp-700 {
        border-radius: 0.5rem;
    }
    &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0.5rem;
        align-items: flex-end;
        @include mediaqueries.bp-700 {
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 1rem;
        }
    }
    &__title {
        font-size: 1.125rem;
        font-weight: 700;
        display: flex;
        align-items: flex-start;
        transition: color .3s ease;
        .intervalItem:hover & {
            @include mediaqueries.bp-700 {
                color: var(--page-color);
            }
        }
    }
    &__list {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        position: relative;
        &::after {
            content: '';
            position: absolute;
            width: 0.75rem;
            height: 0.75rem;
            border-right: 2px solid var(--page-color);
            border-top: 2px solid var(--page-color);
            right: 0;
            top: 2rem;
            transform: rotate(45deg);
        }
    }
    &__lastUsed {
        color: var(--clr-grey);
        font-size: 0.875rem;
        font-weight: 200;
        line-height: 1.5rem;
    }
    &__new {
        display: block;
        background-color: var(--page-color, #fff);
        padding: 0.25rem 0.2rem 0.15rem 0.2rem;
        text-align: center;
        font-size: 0.75rem;
        font-weight: 600;
        color: var(--clr-black);
        border-radius: 0.2rem;
        margin: 0.2rem 0.4rem 0 0;
        line-height: 0.75rem;
    }
}