@use '../../scss/mediaqueries';

.workout {
    &__item {
        padding: 1.7rem 1.5rem;
        border-bottom: 1px solid var(--clr-dark-grey);
        @include mediaqueries.bp-700 {
            background-color: var(--clr-black);
            border-bottom: 0;
            border-radius: 0.5rem;
            padding: 0;
        }
    }
    &__exerciseName {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        @include mediaqueries.bp-700 {
            padding: 1rem 1.5rem;
            border-bottom: 1px solid var(--clr-dark-grey);
            margin-bottom: 0;
        }
    }
}