@use '../../../scss/mediaqueries';

.workoutHistory {
	// background-color: var(--clr-black);
	position: absolute;
	z-index: -10;
	width: 16rem;
	height: auto;
	top: 3.625rem;
	right: 0.5rem;
	background-color: var(--clr-light-black);
	border: 1px solid var(--clr-dark-grey);
	border-radius: 0.5rem;
	padding: 1rem;
	@include mediaqueries.bp-700 {
		top: 2.8rem;
	}
	&.showHistory {
		z-index: 20;
	}
	&__title {
		font-size: 1rem;
		margin-bottom: 0.5rem;
	}
	&__list {
		padding: 0;
		border-top: 1px solid var(--clr-dark-grey);
	}
	&__item {
		list-style: none;
		padding: 0.3rem 0;
		margin: 0;
		border-bottom: 1px solid var(--clr-dark-grey);
		font-weight: 200;
	}
}