.stopWatch {
  &__time {
    text-align: center;
    font-size: 4rem;
    line-height: 1.25;
    font-weight: 200;
    color: var(--clr-white);
    font-family: 'Courier New', Courier, monospace;
  }
  &__buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
}