@import './mediaqueries';

body {
    background-color: var(--clr-light-black);
    font-family: 'Aleo', sans-serif;
    font-optical-sizing: auto;
    color: var(--clr-white);
}

main {
  @include bp-700 {
    padding: 1rem;
  }
}

@property --angle {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

@keyframes conic-effect {
    0% {
      --angle: var(--startDegrees);
    }
  
    100% {
      --angle: var(--endDegrees);
    }
}

@keyframes conic-effect-b {
    0% {
      --angle: var(--startDegrees);
    }
  
    100% {
      --angle: var(--endDegrees);
    }
}