:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-red: hsl(0, 87%, 71%);
    --clr-green: hsl(90, 56%, 63%);
    --clr-blue: hsl(201, 89%, 60%);
    --clr-orange: hsl(29, 90%, 62%);
    --clr-black: hsl(0, 0%, 12%);
    --clr-black-faded: hsla(0, 0%, 5%, 0.8);
    --clr-light-black: hsl(0, 0%, 15%);
    --clr-dark-grey: hsl(0, 0%, 27%);
    --clr-grey: hsl(0, 0%, 60%);
    --clr-shadow: hsl(0, 0%, 0%, 0.2);

    // UI ELEMENTS

    --clr-shine: hsla(0, 0%, 100%, 0.4);
    --clr-shadow: hsla(0, 0%, 0%, 0.3);
}