:root {
    --clr-white: hsl(0, 0%, 100%);
    --clr-red: hsl(0, 87%, 66%);
    --clr-red-secondary: hsl(0, 92%, 61%);
    --clr-green: hsl(90, 56%, 63%);
    --clr-green-secondary: hsl(90, 68%, 56%);
    --clr-blue: hsl(201, 96%, 69%);
    --clr-blue-secondary: hsl(201, 100%, 56%);
    --clr-orange: hsl(33, 100%, 62%);
    --clr-orange-secondary: hsl(33, 98%, 54%);
    --clr-black: hsl(0, 0%, 12%);
    --clr-black-faded: hsla(0, 0%, 5%, 0.8);
    --clr-light-black: hsl(0, 0%, 15%);
    --clr-dark-grey: hsl(0, 0%, 27%);
    --clr-grey: hsl(0, 0%, 60%);
    --clr-shadow: hsl(0, 0%, 0%, 0.2);

    // UI ELEMENTS

    --clr-shine: hsla(0, 0%, 100%, 0.4);
    --clr-shadow: hsla(0, 0%, 0%, 0.3);
}