@use '../../../scss/mediaqueries';

.countdownTimer {
    &__btn {
        position: fixed;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-blue);
        right: 0;
        bottom: 5rem;
        width: 3rem;
        height: 3rem;
        padding-bottom: 0.2rem;
        z-index: 20;
        border-radius: 1rem 0 0 1rem;
        border: 0;
    }
    &__icon {
        width: 1.5rem;
        height: auto;
        path {
            fill: var(--clr-black);
        }
    }
    &__radioList {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 0.5rem 0.5rem 0.5rem;
        align-items: center;
    }
}