@use '../../../scss/mediaqueries';

.countdownTimer {
    &__radioList {
        padding: 0;
        margin: 0;
        list-style: none;
        display: flex;
        justify-content: flex-start;
        gap: 0.5rem;
    }
    &__inner {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        padding: 0 0.5rem 0.5rem 0.5rem;
        align-items: center;
    }
}