@use '../../../scss/mediaqueries';

.workoutExercise {
	&__item {
        padding: 1.7rem 1.5rem;
        position: relative;
        background-color: var(--clr-light-black);
        border-bottom: 1px solid var(--clr-dark-grey);
        z-index: 10;
        transition: transform .4s ease;
        @include mediaqueries.bp-700 {
            background-color: var(--clr-black);
            border-bottom: 0;
            border-radius: 0.5rem;
            padding: 0;
        }
        &.showHistory {
            transform: translateX(-60%);
			@include mediaqueries.bp-700 {
				transform: none;
			}
        }
		&::after {
			content: '';
			position: absolute;
			width: 1px;
			height: 100%;
			right: -1px;
			top: 0;
			background-color: var(--clr-dark-grey);
			@include mediaqueries.bp-700 {
				display: none;
			}
		}
    }
    &__exerciseName {
        font-size: 1.125rem;
        font-weight: 700;
        margin-bottom: 0.5rem;
        @include mediaqueries.bp-700 {
            padding: 1rem 1.5rem;
            border-bottom: 1px solid var(--clr-dark-grey);
            margin-bottom: 0;
        }
    }
    &__historyBtn {
        position: absolute;
        top: 1.5rem;
        right: 1rem;
		width: 2rem;
		height: 2.2rem;
		padding: 0.3rem;
		line-height: 0;
		border: 0;
		background-color: transparent;
		transition: transform .4s ease;
		@include mediaqueries.bp-700 {
			top: 0.6rem;
			width: 2.4rem;
			padding: 0.3rem 0.5rem;
			border-radius: 0.4rem 0.4rem 0 0;
			border-top: 1px solid var(--clr-black);
			border-right: 1px solid var(--clr-black);
			border-left: 1px solid var(--clr-black);
		}
		&.showHistory {
			transform: rotate(-270deg);
			@include mediaqueries.bp-700 {
				transform: none;
				background-color: var(--clr-light-black);
				border-top: 1px solid var(--clr-dark-grey);
				border-right: 1px solid var(--clr-dark-grey);
				border-left: 1px solid var(--clr-dark-grey);
			}
		}
    }
	&__historyIcon {
		width: 100%;
		path {
			fill: var(--clr-blue);
		}
	}
}